<h2> WHO </h2>
<canvas id="myWho" width="800" height="400"></canvas>
<script>
// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myWho").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
var myNewWho = new Chart(ctx);

var data = {
    labels: ["Etc", "February", "events.created_at", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Clicks",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "Views",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

myNewWho.Line(data, {
    bezierCurve: true
});


</script>
<h2> WHAT </h2>
<canvas id="myClicks" width="800" height="400"></canvas>
<script>
// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myClicks").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
var myNewClicks = new Chart(ctx);

var data = {
    labels: ["Etc", "February", "events.created_at", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Clicks",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "Views",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

myNewClicks.Line(data, {
    bezierCurve: true
});


</script>

<h2> Where </h2>
<canvas id="myWhere" width="800" height="400"></canvas>
<script>
// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myWhere").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
var myNewWhere = new Chart(ctx);

var data = {
    labels: ["Etc", "February", "events.created_at", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Clicks",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "Views",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

myNewWhere.Line(data, {
    bezierCurve: true
});


</script>




<!-- testing -->
  <div class ="container">
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- test end -->




<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.who, event %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= @events.where(what: "click").count(group: "DATE(created_at)").to_json %>



<%= link_to 'New Event', new_event_path %>

<script>
  var data = <%= @events.where(what: "click").count(group: "DATE(created_at)").to_json %>;
</script>






